* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.fa-star-o:before {
    font-size: 2rem;
    content: "\f006";
    color: #5f6368;
}

.fa-star:before {
    font-size: 2rem;
    content: "\f005";
    color: #d56e0c;
}